<h1 mat-dialog-title>Add Device</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Vendor</mat-label>
    <input matInput autocomplete="off" name="vendor" [(ngModel)]="device.vendor">
  </mat-form-field>
  <h3>Online</h3>
    <mat-slide-toggle [color]="color"
    [(ngModel)]="device.status"></mat-slide-toggle>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="secondary" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
